<div class="bg-col-white">
    <div class="container text-center">
        <h1 class="current-page-text">MY CART</h1>
        <div class="row parent-row">
            <!---EACH INDIVIDUAL ITEM STARTS HERE-->
            {{#each products as |product|}}
            <div class="col-lg-4 col-md-6 col-sm-12 product-container">
                <div class="row">
                    <div class="col product-image">
                        <img class="product-image-sizing" src="{{product.image}}" alt="bag">
                    </div>
                    <div class="col product-details-cart">
                        <input id="stock" type="hidden" value="{{product.stock}}">
                        <input id="product-id" type="hidden" value="{{product.id}}">
                        <input id="user-id" type="hidden" value="{{user.id}}">
                        <button type="submit" class="btn btn-light cross-btn-styling">X</button>
                        <h2 class="product-title">{{product.product_name}}Product Name</h2>
                        <p class="product-price">{{product.price}}£28.00</p>
                        <p class="product-description">{{product.description}}Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <div class="qty">
                        <label id="quantity" for="quantity">{{product.quantity}}Quantity:</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="1" value="1"> 
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <!---EACH INDIVIDUAL ITEM ENDS HERE-->
        </div>


        <div class="cart-bottom">
            <p class="total-price">Total price: £56.95</p>
            <button type="submit" class="btn btn-dark btn-styling checkout-btn">CHECKOUT</button>
        </div>
    </div>

</div>

<script src="/js/cart.js"></script>