<div class="bg-col-white">
    <div class="container text-center">
        <h1 class="current-page-text">MY CART</h1>
        <div class="row parent-row">
            <!---EACH INDIVIDUAL ITEM STARTS HERE-->
            {{#each products as |productInfo|}}
            <div class="col-lg-4 col-md-6 col-sm-12 product-container">
                <div class="row">
                    <div class="col product-image">
                        <img class="product-image-sizing" src="{{productInfo.product.image}}" alt="bag">
                    </div>
                    <div class="col product-details-cart">
                        <input id="product-id" data-product="{{productInfo.product_id}}" type="hidden" value="{{productInfo.product_id}}">
                        <input id="user-id" type="hidden" value="{{productInfo.user_id}}">
                        <button id="x-button" data-id="{{id}}"  type="submit" class="btn btn-light cross-btn-styling">X</button>
                        <h2 class="product-title">{{productInfo.product.product_name}}</h2>
                        <p value="{{productInfo.products.price}}" class="product-price">£ <span>{{productInfo.product.price}}</span></p>
                        <p class="product-description">{{productInfo.product.description}}</p>
                        <div class="qty">
                        <label id="quantity" data-price="" for="quantity">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="1" value="1"> 
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <!---EACH INDIVIDUAL ITEM ENDS HERE-->
        </div>


        <div class="cart-bottom">
            <p class="total-price">Total price: £<span id="total-price">{{price}}</span></p>
            <button type="submit" class="btn btn-dark btn-styling checkout-btn">CHECKOUT</button>
        </div>
    </div>

</div>

<script src="/js/cart.js"></script>