<div class="purchases">
    <h4 style="margin-top: 2%; margin-bottom: 2%; font-family: Nunito, sans-serif; font-size: 1.2rem; font-weight: 600;">YOUR PURCHASES</h4>   
    <div class="bg-col-white">
        <div class="container text-center">
           <div class="row parent-row-image-only">
        <!---EACH INDIVIDUAL ITEM STARTS HERE-->
        {{#each purchases}}
                <div class="col-lg-2 col-md-4 col-sm-6 product-container2" style="margin-bottom: 20px; margin-top: 10px;" id="ftproduct">
                    <div class="row">
                        <div class="col product-overview">
                           <a href="/product/{{this.product.id}}"><img class="product-image-sizing" src="{{this.product.image}}" alt="bag"></a>
                           <a href="/product/{{this.product.id}}" style="text-decoration: none; color: black;"><h2 class="product-title2" id="fttitle">{{this.product.product_name}}</h2></a>
                           <p class="product-price">£{{this.product.price}}</p>
                        </div>
                    </div>
                </div>
        {{/each}}
        <!---EACH INDIVIDUAL ITEM ENDS HERE-->
           </div>
        </div>
    </div>
</div>