 {{#each products as |product|}}
 <div class="bg-col-grey">
    <div class="container text-center">
        <div class="text-space-between">
            <h1 class="current-page-text-white">MY WISHLIST</h1>
            <p class="p-text-white">Wishlist items are saved for 30 days.</p>
        </div>
        <div class="row parent-row">
            <!---EACH INDIVIDUAL ITEM STARTS HERE-->
            <div class="col-lg-4 col-md-6 col-sm-12 product-container-white">
                <div class="row">
                    <div class="col product-image">
                        <img class="product-image-sizing" src="{{products.0.image}}" alt="bag">
                    </div>
                    <div class="col product-details">
                        <input id="product-id" type="hidden" value="{{user.id}}">
                        <input id="wishlist-id" type="hidden" value="{{product_id}}">
                        <button type="submit" class="btn btn-light cross-btn-styling">X</button>
                        <h2 class="product-title">{{products.0.Product_name}}</h2>
                        <p class="product-price">{{products.0.price}}</p>
                        <p class="product-description">{{products.0.description}}</p>
                    <div class="qty">
                    <label id="quantity" for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="1" value="1"> 
                    </div>
                        <button type="submit" class="btn btn-dark btn-styling">Add to Cart</button>
                    </div>
                </div>
            </div>
            <!---EACH INDIVIDUAL ITEM ENDS HERE-->
        </div>
    </div>
</div>
{{/each}}           

<script src="/js/wishlist.js"></script>